<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Compras Registradas - Sistema de Ventas de Monedas</title>
</head>
<body>
    <h1>Compras Registradas</h1>
    <ul>
        {% for compra in compras %}
            <li>{{ compra['cantidad'] }} de {{ compra['nombre'] }} a un precio de compra de {{ compra['precio_compra'] }} y precio de venta de {{ compra['precio_venta'] }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('options') }}">Volver a opciones</a>
</body>
</html>
