<!-- options.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones</title>
</head>
<body>
    <h1>Opciones</h1>
    <div>
        <!-- Botón para aumentar stock -->
        <a href="{{ url_for('aumentar_stock') }}"><button>Aumentar Stock</button></a>
        <!-- Botón para registrar venta -->
        <a href="{{ url_for('registrar_venta') }}"><button>Registrar Venta</button></a>
        <!-- Botón para ver historial de ventas -->
        <a href="{{ url_for('historial_ventas') }}"><button>Ver Historial de Ventas</button></a>
    </div>
</body>
</html>
