<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout_interno.css') }}">
    <title>Registrar Venta - Sistema de Ventas de Monedas</title>
</head>
<body>
    <aside>
        <nav>
            <a href="{{ url_for('registrar_venta') }}">Registrar Venta</a>
            <a href="{{ url_for('historial_ventas') }}">Historial de Ventas</a>
            <a href="{{ url_for('ver_stock') }}">Ver Stock Actual</a>
            <a href="{{ url_for('aumentar_stock') }}">Aumentar Stock</a>
            <a href="{{ url_for('registrar_moneda') }}">Registrar Nueva Moneda</a>
            <a href="{{ url_for('compras') }}">Ver Compras</a>
            <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        </nav>
    </aside>
    <section>
        <h1>Registrar Venta</h1>
        <form action="{{ url_for('registrar_venta') }}" method="POST">
        <input type="text" name="usuario" placeholder="Nombre del usuario" required>
        <select name="tipo_moneda" required>
            {% for moneda in monedas %}
                <option value="{{ moneda }}">{{ moneda }}</option>
            {% endfor %}
        </select>
        <input type="number" name="cantidad" placeholder="Cantidad de monedas" required>
        <button type="submit">Registrar Venta</button>
        </form>
        <a href="{{ url_for('options') }}">Volver a opciones</a>
    </section>


</body>
</html>
